@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'roboto', cursive;
}
.btn{
    padding-top:0.5rem;
    padding-top:0.5rem;
}
body{
    background-color:#A0E4CB;
}

div{
    height: 500px;
    width: 400px;
    margin: 100px auto;
    border:black;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #CFF5E7;
}
.btn{
    padding: 0.1cm 0.3cm 0.1cm 0.3cm;
    display: inline-block;
    margin-bottom: 0.2cm;
    
    }
    .btn:hover{
        font-size: large;
        cursor: pointer;
    }
    
    #convert{
    padding-left:0.18cm ;
    padding-right:0.18cm ;
    }
    h1{
        margin-bottom: 1cm;
        font-size:50px;
    }
    #IntialValue,#finalValue{
        font-family: 'Dancing Script', cursive;
    }
    select:hover{
        cursor: pointer;
    }
   